@import url("@/styles/core/variables.module.css");

:local(.two-column) {
  :local(.viewport) {
    width: var(--screen-xl);
    align-self: center;
    grid-template-columns: auto 20rem;
  }
}

:local(.container) {
  display: flex;
  justify-content: center;
}

:local(.header-container) {
  background-color: var(--brand-page-header);
}

:local(.header) {
  padding: 1.5rem 2rem;
  width: var(--screen-xl);
}

:local(.nav-container) {
  box-shadow: 0.05rem 0.05rem 0.2rem 0.05rem var(--color-shadow);
  background-color: var(--brand-navigation-bg);
}

:local(.nav) {
  width: var(--screen-xl);
  padding: 0 1rem;
}

:local(.column) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

:local(.footer) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
