@import url("@/styles/core/variables.module.css");

:local(.two-column) {
  :local(.viewport) {
    grid-template-columns: auto 20rem;
  }
}

:local(.header) {
  background-color: var(--brand-page-header);
  padding: 1.5rem 2rem;
}

:local(.nav) {
  padding: 0 1rem;
  box-shadow: 0.05rem 0.05rem 0.2rem 0.05rem var(--color-shadow);
}

:local(.column) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

:local(.footer) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
