@import url("@/styles/core/variables.module.css");

:local(.two-column) {
  /* empty */
}

:local(.header) {
  background-color: var(--brand-page-header);
  padding: 1.5rem 2rem;
}

:local(.nav) {
  padding: 0 1rem;
  box-shadow: 0.05rem 0.05rem 0.2rem 0.05rem var(--color-shadow);
}
