:local(.social-block) {
  display: flex;
  gap: 0.25em;
}

:local(.social-block-link) {
  transition: transform 0.1s ease;

  &:hover {
    transform: perspective(1px) translateY(-5%) scale(1.1);
  }
}
